@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121212d7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 25rem;
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0px 0px 20px 0px black;
  text-align: center;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#status {
  font-size: 1rem;
  margin-top: 1rem;
  color: cyan;
  word-wrap: break-word;
}

#map {
  height: 300px;
  width: 100%;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}
